<ol class="quiz-list">
  {{#each model as |quiz|}}
    <li class="quiz-list__item">
      {{#link-to "quiz" quiz.id class="quiz-list__link"}}
        <span class="quiz-list__title">{{quiz.title}}</span>
      {{/link-to}}
    </li>
  {{/each}}
</ol>
