<ol class="question-form__list">
  {{#each questions as |question|}}
    <li class="question-form__item">
      {{yield question (action "setScore" question.id) isSubmitted}}
    </li>
  {{/each}}
</ol>

<input type="submit" value="Submit" class="question-form__submit">
