/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Typography
 */

// Font families
$font-family-primary: 'Avenir Next', 'Avenir', 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-secondary: 'Pacifico', cursive;
$font-family-monospace: 'Menlo', 'Monaco', monospace;

// Font sizes
// musical tritonic scale
// http://spencermortensen.com/articles/typographic-scale/
$font-size:       1rem;
$font-size-small: .7937rem;

$font-size-h1: 2rem;
$font-size-h2: 1.2599rem;
$font-size-h3: $font-size;
$font-size-h4: $font-size;
$font-size-h5: $font-size;
$font-size-h6: $font-size-small;

// Font weights
$font-weight-light:    300;
$font-weight-normal:   400;
$font-weight-semibold: 500;
$font-weight-bold:     600;

/**
 * Metrics
 */

$size:           1.618rem;
$double-size:    $size * 2;
$triple-size:    $size * 3;
$quadruple-size: $size * 4;
$half-size:      $size / 2;
$quarter-size:   $size / 4;

/**
 * Breakpoints
 */

$break-xs: 20em; // 320
$break-sm: 30em; // 480
$break-md: 40em; // 640
$break-lg: 48em; // 768
$break-xl: 64em; // 1024

/**
 * Colours
 */

// Greys
$light-grey: whitesmoke;
$grey:       #6e6e6e;
$dark-grey:  #2b303b;

$transparent-black: hsla(0, 0%, 0%, 0.08);

$primary: #c0392b;
$primary-dark: darken($primary, 10);

$secondary: #3F6DA9;
$secondary-dark: darken($secondary, 10);

/**
 * Effects
 */

$border-radius:    3px;
$thin-line-weight: 2px;
$box-shadow-soft:  0 2px 28px hsla(0, 0%, 0%, 0.15);
$fade-duration:    0.3s;
