<header role="banner">
  <h1 class="site-title">
    {{link-to "Quizmaster" "quizzes"}}
  </h1>
</header>

<main role="main">
  {{outlet}}
</main>

<footer role="contentinfo">
  <small>Submission by <a href="https://andybluntish.com">Andy Stanford-Bluntish</a>. Source on <a href="https://github.com/andybluntish/quizmaster">GitHub</a>.</small>
</footer>
