/* ==========================================================================
   Quiz
   ========================================================================== */

.quiz {

  &__title {
    margin: 0 0 $double-size;
    padding: $size;
    font-weight: $font-weight-semibold;
    background: $light-grey;
  }
}
